on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

name: macOS build
jobs:
  test-macOS:

    runs-on: macos-latest

    steps:   
        - uses: actions/checkout@v2
          with:
            submodules: recursive
        - name: Install miniconda
          uses: conda-incubator/setup-miniconda@v2
          with:
            auto-activate-base: true
            python-version: 3.9
        # # Handle GDAL
        # - name: Install GDAL
        #   run: conda install -c conda-forge gdal=3.4.0 --yes
        # - name: Test GDAL installation
        #   run: |
        #     conda activate
        #     gdalinfo --version
        #     python -c "from osgeo import gdal"
        # # Install everything else
        # - name: Install other dependencies
        #   run: |
        #     pip install -r requirements.txt  -r requirements_dev.txt
        - name: install dependencies
          run: brew install gdal
        - name: set up gdal
          run: |
            GDAL_VER=$(find /usr/local/Cellar/gdal/  -name "lib" | awk -F"/" '{print $7}')
            GDAL_LDPATH=/usr/local/Cellar/gdal/$GDAL_VER/lib/
            export LIBRARY_PATH=$GDAL_LDPATH
            echo $LIBRARY_PATH
        - name: Test GDAL installation
          run: |
            gdalinfo --version
        # Install everything else
        - name: Install other dependencies
          run: |
            pip install -r requirements.txt -r requirements_dev.txt